
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Info - Cognifyz Internship</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p class="slogan">Empowering Interns for a Brighter Future</p>
        <div class="social-media">
            <a href="https://www.instagram.com/cognifyz_tech/" class="social-icon" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            <a href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Aorganization%3A91348300&keywords=cognifyz%20technologies&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=0523bbda-762f-4072-92dd-bae580058206&sid=%3ByP&spellCorrectionEnabled=true" class="social-icon" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="mailto:contact@cognifyz.com" class="social-icon" target="_blank">
                <i class="fas fa-envelope"></i> Gmail
            </a>
        </div>
    </div>
</body>
</html>
